<mat-toolbar fxLayout="column" style="height: 100%;">
    <mat-toolbar-row fxFlex="75" class="nav-header" style="height: 100%;" style="background: #fff;">
        <div fxFlex="20" class="logo"><img src="assets/img/cdmx.png"></div>
        <div fxFlex="80" class="title">ISSEMyM</div>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxFlex="25" fxLayoutAlign="center center" *ngIf="activeSession()" style="height: 100%;">

        <button mat-icon-button fxFlex="10">
            <mat-icon aria-label="Example">folder_shared</mat-icon>
            <span style="padding: 7px;">Gestión de archivos</span>
        </button>
        <span class="example-spacer"></span>
        <button style="color: #000;" (click)="logout()" class="btnHeader" fxFlex="10" mat-mini-fab>
            <mat-icon matTooltip="Salir del Sistema" matTooltipPosition="below" class="iconHeader">
                exit_to_app
            </mat-icon>
            <span style="padding: 7px;">Salir</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['home']">Dashboard</button>
    <button mat-menu-item [routerLink]="['register']">Register Users</button>
    <button mat-menu-item [routerLink]="['list']">List Users</button>
    <button mat-menu-item [routerLink]="['cards']">Cards</button>
    <button mat-menu-item [routerLink]="['pipes']">Pipes</button>
    <button mat-menu-item [routerLink]="['about']">About</button>
</mat-menu>