<fieldset>
    <div class="example-container" fxLayout="row wrap">
        <div fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="48">
                <input matInput placeholder="Documento Electoral">
            </mat-form-field>
            <mat-form-field fxFlex="48">
                <input matInput placeholder="Nombres">
            </mat-form-field>
        </div>
        <div fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="48">
                <input matInput placeholder="Apellido Paterno">
            </mat-form-field>
            <mat-form-field fxFlex="48">
                <input matInput placeholder="Apellido Materno">
            </mat-form-field>
        </div>
        <div fxLayoutAlign="space-around center">
            <mat-form-field fxFlex="48">
                <mat-select placeholder="Genero">
                    <mat-option value="M">Masculino</mat-option>
                    <mat-option value="F">Femenino</mat-option>
                </mat-select>
            </mat-form-field>
            <button fxFlex="48" mat-stroked-button color="primary">Guardar</button>
        </div>
    </div>
</fieldset>