/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    background: #363c5d;
    /* background: linear-gradient(to top, rgb(148, 142, 153), rgb(46, 20, 55));
    height: calc(100vh - 86px); */
}